@import "tailwindcss";

:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif;

  --color-background: #ffffff;
  --color-foreground: #171717;
  
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-foreground: var(--color-foreground-dark);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}